.toolbar{
  background-color: rgb(59, 59, 59);
}
.text{
  color: aliceblue;
}

.container {
  margin-top: 50px;
}

mat-icon{
  color: rgb(0, 0, 0);
  padding-left: 9px;
}


.container mat-card{
  padding: 0px;
}

.login-form{
  padding: 20px;
}

.button{
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
}

.button:hover{
  background-color: rgb(34, 181, 218);
}

.spacer{
  flex: 1 1 auto;
}


@media screen and (max-width:699px) {
      .text {
        font-size: 13pt;
      }
      p{
        font-size: 12pt;
      }
      .button{
        font-size: 10pt;
      }
}


