.toolbar{
  background-color: rgb(59, 59, 59);
}
.text{
  color: aliceblue;
}

.container {
  margin-top: 50px;
}

.icon{
  padding-left: 5px;
  display: flex;
  position: relative;
  color: aliceblue;
}


.container mat-card{
  padding: 0px;
}

.login-form{
  padding: 20px;
}

.button{
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
}

.button:hover{
  background-color: rgb(34, 181, 218);
}



