<app-header></app-header>

<div fxLayoutAlign="center"  class="container" >
  <mat-card fxFlex='30'>
    <mat-toolbar class="toolbar" >
        <span class="text">Connexion</span>
        <span class="spacer"></span>
        <mat-icon class="mat-18" style="color: aliceblue;">wifi_lock</mat-icon>
    </mat-toolbar>

    <p style="text-align: center; font-size: 18px; padding: 15px; pointer-events: none;">
      Entrez votre identifiant et votre mot de passe</p>

    <form action="" fxLayout="stretch" fxLayout="column" class="login-form">
      <mat-icon class="mat-18">face</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Identifiant</mat-label>
        <input matInput>
      </mat-form-field>


      <mat-icon class="mat-18">lock</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [type]= "visible ? 'password':'text'">
        <mat-icon style="cursor: pointer;" matSuffix (click) ="visible = !visible">
          {{visible ? 'visibility':'visibility_off'}}</mat-icon>

      </mat-form-field>

      <button class="button"  mat-raised-button type="submit" > Se Connecter <mat-icon class="mat-18" style="color: black;" >send</mat-icon></button>
    </form>

    <p style="font-size: 15px;"> <mat-icon >help </mat-icon> Besoin d'un compte? <a routerLink="/registration"> inscrivez-vous </a></p>
  </mat-card>
</div>

<app-footer></app-footer>
