
.footer {
  font-size: small;
  text-align: center;
  color: grey;
  background-color: transparent;
  line-height: initial;
  position: relative;
    bottom: -15px;
    width: 100%;
    height: 60px;
}

footer span{
  color: red;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width:699px) {
  .footer{
    font-size: 10pt;
  }

  footer span{
    font-size: 10pt;
  }

}
